<div class="side-bar_header">
  <p> seo </p>
  <i class="far fa-edit"></i>
  <i class="fas fa-cog"></i>
</div>

<div class="side-bar_group">
  <p>sample</p>
</div>
<div class="side-bar_member">
  <p>Good bey world</p>
</div>
