<div class="contents">

  <div class="left-contents">
    <div class="user-info">
      <div class="user-info_name">
        <p> seo </p>
      </div>
      <div class="user-info_edit">
        <i class="far fa-edit"></i>
        <i class="fas fa-cog"></i>
      </div>
    </div>

    <div class="side-bar">
      <div class="side-bar_group">
        <p>sample</p>
      </div>
      <div class="side-bar_tweet">
        <p>Good bey world</p>
      </div>
    </div>
  </div>

  <div class="right-contents">
    <div class="group">
      <div class="group_current">
        <p>sample</p>
      </div>
      <div class="group_members">
        <p>Members: seo neko</p>
      </div>
      <p>Edit</p>

      <div class="group_tweets">
        <p>seo 2016/09/21 06:16:55</p>
        <p>Hello world!</p>

        <p>neko 2016/09/22 06:16:55</p>
        <p>Good bye woeld!</p>
      </div>

      <div class="message">
        <p>type a message</p>
        <form method="post" enctype="multipart/form-data">
        <input type="file" value="&#xf302;" class="far">
        </form>
      </div>

      <p>Send</p>

  </div>
</div>
